<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<app-header>{{ 'LOADING' | translate }} header...</app-header>

		<app-menu-aside [links]="mylinks">{{ 'LOADING' | translate }} menu...</app-menu-aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<toaster-container [toasterconfig]="toastrConfig"></toaster-container>
			<!--<app-breadcrumb></app-breadcrumb>-->

			<router-outlet></router-outlet>

		</div>
		<!-- /.content-wrapper -->
		<app-footer>{{ 'LOADING' | translate }} footer...</app-footer>
	</div>
	<!-- ./wrapper -->
</body>

