<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    Página não encontada</h2>
                <div class="error-details">
                    Desculpe, houve um erro na requisição.
                </div>
                <div class="error-actions">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <a routerLink="{{redirectHomeLink}}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Voltar ao Início </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <a routerLink="{{redirectSupportLink}}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span>Contatar Suporte </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
