<section class="content-header">
    <h1>
        {{title}}<br>
        <small class="text-top-all">Cadastrar novo produto.</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <div *ngIf="formError" class="alert alert-error alert-dismissible">
        <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
        {{formError}}
    </div>

    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="row">
            <div class="col-md-12">

                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Dados Básicos</h3>
                    </div>
                    <div class="box-body">

                        <input id="id" type="hidden" class="form-control" [(ngModel)]="product.id" formControlName="id">
                        <input id="companyId" type="hidden" class="form-control" [(ngModel)]="logedUser.company" formControlName="companyId">

                        <div class="form-group col-md-4 col-xs-12">
                            <label for="name">Produto</label>
                            <input id="name" type="text" class="form-control validate" [(ngModel)]="product.name" formControlName="name">
                        </div>

                        <div class="form-group col-md-4 col-xs-12">
                            <label for="price">Preço</label>
                            <input id="price" type="number" step="0.01" class="form-control validate" [(ngModel)]="product.price" formControlName="price">
                        </div>

                        <div class="form-group col-md-4 col-xs-12">
                            <label for="description">Descrição</label>
                            <input id="description" type="text" class="form-control validate" [(ngModel)]="product.description" formControlName="description">
                        </div>

                        <div class="form-group col-xs-4">
                            <label for="availability">Disponível</label>
                            <select id="availability" [(ngModel)]="product.active" formControlName="active" class="form-control">
                                <option value="">Selecione...</option>
                                <option value="1">Sim</option>
                                <option value="0">Não</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6 col-xs-12">
                            <label>Categorias</label>
                            <ng-select [multiple]="true" (data)="refreshValue($event)" [items]="categories" [active]="product.categories" data-placeholder="Nenhuma categoria selecionada"></ng-select>
                        </div>

                        <div class="form-group col-md-6 col-xs-12">
                            <ng-container *ngIf="!selectedFile?.isUploading && !product.image">

                                Foto do Produto<br>
                                <label class="btn btn-default btn-file">
                                    Procurar Arquivo (até 2MB)<input #product type="file" ng2FileSelect [uploader]="fileUploader"/>
                                </label>

                                <div *ngIf="!allowedSizeStatus" style="padding-top: 5%">
                                    <strong style="color: #d33333;">Tamanho máximo excedido!</strong>
                                </div>

                                <div *ngIf="!allowedTypeStatus" style="padding-top: 5%">
                                    <strong style="color: #d33333;">Arquivo não permitido!</strong>
                                </div>

                            </ng-container>

                            <ng-container *ngIf="selectedFile?.isUploading">
                                <div style="padding-top: 5%">
                                    <strong style="color: #3a87ad;">Enviando ...</strong>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="fileUploadedUrl || product.image">
                                <a href="{{fileUploadedUrl ? fileUploadedUrl :product.image }}" target="_blank">Ver foto</a><br>
                                <span style="cursor:pointer;color: #d33333;" (click)="removeFile()">Excluir foto</span>
                            </ng-container>

                            <input type="hidden" class="form-control" [(ngModel)]="product.image" formControlName="image" name="image">
                        </div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Dimensões</h3>
                    </div>
                    <div class="box-body">

                        <div class="form-group col-md-4 col-xs-12">
                            <label for="height">Altura</label>
                            <input id="height" type="number" step="0.01" class="form-control validate" [(ngModel)]="product.height" formControlName="height">
                        </div>

                        <div class="form-group col-md-4 col-xs-12">
                            <label for="width">Largura</label>
                            <input id="width" type="number" step="0.01" class="form-control validate" [(ngModel)]="product.width" formControlName="width">
                        </div>

                        <div class="form-group col-md-4 col-xs-12">
                            <label for="length">Comprimento</label>
                            <input id="length" type="number" step="0.01" class="form-control validate" [(ngModel)]="product.length" formControlName="length">
                        </div>

                        <div class="form-group col-md-4 col-xs-12">
                            <label for="weight">Peso</label>
                            <input id="weight" type="number" step="0.01" class="form-control validate" [(ngModel)]="product.weight" formControlName="weight">
                        </div>

                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Códigos</h3>
                    </div>
                    <div class="box-body">

                        <div class="form-group col-md-4 col-xs-12">
                            <label for="ncm">NCM</label>
                            <input id="ncm" type="text" class="form-control validate" [(ngModel)]="product.ncm" formControlName="ncm">
                        </div>

                        <div class="form-group col-md-4 col-xs-12">
                            <label for="sku">SKU</label>
                            <input id="sku" type="text" class="form-control validate" [(ngModel)]="product.sku" formControlName="sku">
                        </div>

                        <div class="form-group col-md-4 col-xs-12">
                            <label for="model">Modelo</label>
                            <input id="model" type="text" class="form-control validate" [(ngModel)]="product.model" formControlName="model">
                        </div>

                        <div class="form-group col-md-4 col-xs-12">
                            <label for="upc">UPC</label>
                            <input id="upc" type="text" class="form-control validate" [(ngModel)]="product.upc" formControlName="upc">
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</section>
<!-- /.content -->