<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Debug de Browser e Sitema Operacional</h1>
                <h2>
                    Copie a mensagem a abaixo e envie por email ao suporte.</h2>
                <div class="error-details">
                    <p>{{appName}}</p>
                    <p>{{appVersion}}</p>
                    <p>{{cookieEnabled}}</p>
                    <p>{{platform}}</p>
                    <p>{{userAgent}}</p>
                </div>
                <div class="error-actions">

                </div>
            </div>
        </div>
    </div>
</div>
